<!doctype html>
<html lang="en" ng-app='bestRestaurants'>
    <head>
        <meta charset="UTF-8">
        <title>Best Restaurants</title>
        <script src="lib/angular.js"></script>
        <script src="app.js"></script>
        <script src="js/bestRestaurants.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>
        <div class='container' ng-controller='RestaurantsCtrl'>
            <div class='row'>
                <div class='col-md-8'>
                    <h2>New Restaurant</h2>
                    <form class='form-inline' ng-submit='addRestaurant()'>
                        <div class='form-group'>
                            <input type="text" ng-model='restaurantName' class='form-control' placeholder='Enter the name' required>
                        </div> <br><br>
                        <div class='form-group'>
                            <input type="text" ng-model='restaurantLocation' class='form-control' placeholder='Enter the location' required>
                        </div> <br><br>
                        <div class='form-group'>
                            <label for="price">Select a price range :</label> <br>
                            <select id="restaurantPrice" ng-model='restaurantPrice' name="restaurantPrice" class="form-control">
                                <option value="$">$</option>
                                <option value="$$">$$</option>
                                <option value="$$$">$$$</option>
                            </select>
                        </div> <br><br>
                        <div class='form-group'>
                            <label for="type">Type of food :</label> <br>
                            <input type="radio" class='form-control' ng-model='restaurantType' ng-checked='' value="French"> French<br>
                            <input type="radio" class='form-control' ng-model='restaurantType' value="American"> American<br>
                            <input type="radio" class='form-control' ng-model='restaurantType' value="Mexican"> Mexican<br>
                            <input type="radio" class='form-control' ng-model='restaurantType' value="Italian"> Italian<br>
                            <input type="radio" class='form-control' ng-model='restaurantType' value="Thai"> Thai<br>
                            <input type="radio" class='form-control' ng-model='restaurantType' value="Chinese"> Chinese<br>
                        </div> <br><br>
                        <button type='submit' class='btn btn-success'>Add</button>
                    </form>

                </div>
                <div class="col-md-4">
                    <h2>Restaurant List</h2>
                    <ul ng-repeat="item in restaurants">
                        <h3><em>{{item.name}}</em></h3>
                        <li>Location : {{item.location}}</li>
                        <li>Price : {{item.price}}</li>
                        <li>Type of food : {{item.type}}</li>
                    </ul>

                </div>

                </div>
            </div>
        </div>
    </body>
</html>
